.toolbox {
    font-size: 18px;
    position: sticky;
    top: 0;
    z-index: 1;
    min-height: 2.5rem;
    @apply border-y border-default-300;
    @apply bg-white;
    @apply flex justify-between items-center;
    @apply shadow-md;
}

.toolbox_item {
    margin: 0;
    cursor: pointer;
    max-width: 10rem;
    user-select: none;
    @apply truncate;
    @apply rounded-md;
    @apply mx-1 py-1 px-3;
    @apply bg-white;
}

.toolbox_delimiter {
    margin: 0;
    cursor: auto;
    max-width: 10rem;
    user-select: none;
    @apply truncate;
    @apply rounded-md;
    @apply py-1;
    @apply bg-white;
}
