.media-card {
    grid-column: span 4;
    display: flex;
    flex-direction: column;
    aspect-ratio: 1/1;
    overflow: hidden;
    border: 1px solid #ddd;
    @apply rounded-md
}

.media-card__selected {
    @apply bg-primary-200;
}

.media-card_image {
    max-width: 100%;
    aspect-ratio: 1/1;
    background-size:cover;
    background-position:center;
}

.media-card_info {
    display: flex;
}

.media-card_icon svg {
    margin: 5px 10px;
    height: 18px;
    width: 18px;
}

.media-card_name {
    margin: 5px 10px;
    @apply truncate;
    user-select: none;
}
