.sidebar {
    max-width: 100%;
    overflow-x: hidden;
}

.sidebar_body {
    z-index: 50;
    @apply p-3;
    @apply rounded-md;
}

.sidebar_background {
    z-index: 49;
    position: fixed;
    height: 100vh;
    right: 0;
    top: 0;
    width: 100vw;
    @apply bg-black/50;
}

.sidebar_close-button {
    z-index: 55;
    position: fixed;
    right:0;
    top: 0;
}
