.directory-card {
    border: 1px solid #ddd;
    grid-column: span 6;
    overflow: hidden;
    @apply rounded-md;
    display: flex;
    flex-direction: column;
}

.directory-card a {
    text-decoration: inherit;
}

.directory-card_main-line {
    margin: 10px 15px 5px 15px;
    display: flex;
    height: 40px;
}

.directory-card_status-line {
    display: flex;
    justify-content: end;
    overflow: hidden;
    height: 20px;
    font-size: 0.7rem;
    margin: 0;
}

.directory-card_name {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin: 0 10px;
}

.directory-card_size {
    font-size: 0.7rem;
    padding: 0 10px;
    margin: 0;
    background-color: coral;
    cursor: pointer;
    height: 100%;
    text-align: center;

}

.directory-card_size span {
    align-self: center;
}
