.directory-card {
    border: 1px solid #ddd;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    @apply rounded-md;
    @apply shadow;
}

.directory-card_main-line {
    padding: 15px;
    display: flex;
    border-bottom: 1px solid #eee;
}

.directory-card_status-line {
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
    margin: 0;
    user-select: none;
}

.directory-card_status-item {
    padding: 0 10px;
    margin: 0;
    cursor: pointer;
    height: 100%;
    text-align: center;
}

.directory-card_size {
    @apply bg-primary-300;
}

.directory-card_status-item * {
    align-self: center;
}
