.directory-list-info {
  padding: 5px;
  list-style: none;
  user-select: none;
  grid-template-columns: repeat(2, minmax(min-content, 0.4fr));
  grid-auto-flow: column;
  border: 1px solid #ddd;
}

.directory-list-info__selected {
  @apply bg-primary-200;
}

.directory-list-info-card_main-line {
  /* Small screen (default) */
  @apply col-span-1;
  @apply grid grid-cols-2;

  /** Medium screen **/
  @apply md:col-span-1;

  grid-auto-flow: column;
  grid-template-columns: repeat(2, minmax(min-content, max-content));
  align-items: center;
  justify-self: start;
}

.directory-list-card_icon {
  margin: 0 15px 0 5px;
}

.directory-list-info-card_status-line {
  /* Small screen (default) */
  font-size: 0.7rem;
  width: 6rem;
  @apply bg-primary-300;
  border-radius: 4px;
  cursor: pointer;
  padding: 5px;
  margin: 0 5px;
  @apply col-span-2;
  @apply flex justify-center items-center content-center justify-self-end;

  /** Medium screen **/
  @apply md:col-span-3;

  /** Large screen **/
  @apply lg:col-span-1;
  /* justify-self: self-end; */
}
