.image-view {
}

.image-view .img-zoom-container {
    max-width: 40vw;
    max-height: 40vh;
    position: relative;
}

.image-view .img-zoom-img {
    max-width: 100%;
    max-height: 100%;
}

.image-view .img-zoom-lens {
    position: absolute;
    border: 1px solid #d4d4d4;
}

.image-view .img-zoom-result {
    border: 1px solid #d4d4d4;
    /*set the size of the result div:*/
    width: 50%;
    aspect-ratio: 1/1;
}
