.header {
    padding: 8px;
    height: 47.958px; /* Copied from GD */
    display: flex;
}

.header_logo {
    padding: 5px;
}

.header_logo_text {
    font-size: 22px;
}

.header_nav-item {
    text-decoration: inherit;
    color: black;
    padding: 5px;
    margin: 0 5px;
    @apply bg-default-50;
}
